/* /title page/ */

h1{
    font-family: 'Open Sans', sans-serif;


 text-align: center;

}
p{
    font-family: 'EB Garamond', serif;
    font-size: 1
    rem;
}
h3{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}
span{
    font-family: 'EB Garamond', serif;
}
/* /navbar */
.container-fluid{
    padding: 3% 17%;
}
.logo{
    width: 150px;
}

#title {
    background-image:url('images/bg1.jpg') ;
    text-align: center;
}

.navbar{
    padding: 0 17% 3% ; 
}
.nav-item{
    padding: 0 20px 0 20px;
font-size: 20px;
    font-family: 'EB Garamond', serif;
    
}
.nav-item:hover{
    opacity: 0.7;
}
/* /title content */
.head{
    color: #eeba2b;
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    text-align: left;
    padding-top: 30px;

    
}

#carouselExampleControls1{
    padding-bottom: 3%  ; 
}


#inquire{
    color: #eeba2b;
}
 .inquire{
   
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;


}
.head2{
    padding-top:30px ;
    font-family: 'EB Garamond', serif;
    padding-bottom: 30px;
}
#heads{
    padding-left: 45px;
    padding-top: 30px;
 
}
.trophy{
    width: 600px;

}

/* / unique */
#unique{
    background-color: #fcf9da;
    text-align: center;
    position: relative;
    padding: 1% 17% 1%;
}
.square{
    width: 500px;
    text-align: center;
    
}

.unique-head{
    font-size: 2rem;
}
#faf{
    color: #eeba2b;
    padding-bottom: 20px;
}
#faf:hover{
    color: #254069;
}
/* //About */
#about{
    padding: 3% 17% ;
    background-color: #254069;
    color:#fff ;

}
.company{
padding-bottom: 50px;
color: #CEA434;
}
.summer{

max-width: 100%;


}
.summer1{
    padding: 0px 30px 30px;
 text-align: center;
}
/* //samples
 */
#samples{
   
    padding: 0 17% 3%;
    text-align: center;
    background-image: url(/images/bg1.png);
}
.samps{
 margin-bottom: 20px;  


  
}

.pics{

    max-width: 100%;

padding: 30px;
   text-align: center;
    
    
}

   
    

/* //feeback */
#feedback{
 
    background-color: #254069;
    text-align: center;
    padding: 3% 17% 3%;
    color: #CEA434;

}
#carouselExampleControls{
    max-width: 100%;
}
.carousel{
    max-width: 100%;
   
}
.feeds{
    margin-bottom: 40px;
}



/* // contact */
#contact{
    background-color: #fcf9da;
    padding: 3% 17%;
    
 
}
.cons{
text-align: left;
padding-bottom: 20px;
}
.fb{
    
    text-decoration: none;
    color: black;
    display: inline;


   
}
#socials{
 vertical-align: middle;
 padding: 10px 20px;
 color: black;
 display: inline-block;

}
#socials:hover{
    color: #254069;
}
ul{
    list-style-type: none;
 
}
.mapouter{
    padding-top: 4px;
 margin-bottom: 20px;

}
.map{
    margin-top: 70px;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
   
}
#one{
    margin-left: 30px;
}
.visit{
    padding-top: 77px;

}
#gmap_canvas{
    max-width: 100%;
}
/* //footer
 */
 #footer{
    padding:  1% 17%  ;
  text-align: center;
  background-image: url(/images/bg1.png);
 }
 
.foot{
    padding-top: 30px;
}
